// Ranglar
$brand-yellow: #f8d94e;
$brand-brown: #5a3825;
$brand-green: #46c16a;

// Fontlar
$font-family-base: 'Inter', sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;